<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-s-3 icon-footer">
        <img
          src="../img/logos-compras-etc/envios-todo-el-pais.svg"
          alt="icono de envios"
          height="60"
        />
        <p><strong>Envios Gratis</strong><br />Por $50.00 de compra</p>
      </div>

      <div class="col-xs-6 col-s-3 icon-footer">
        <img
          src="../img/logos-compras-etc/devoluciones.svg"
          alt="icono de devoluciones gratis"
          height="60"
        />
        <p>
          <strong>devoluciones Gratis</strong><br />30 Dias desde que lo Resives
        </p>
      </div>

      <div class="col-xs-6 col-s-3 icon-footer">
        <img
          src="../img/logos-compras-etc/horario-de-atencion.svg"
          alt="icono de atencion al cliente"
          height="60"
        />
        <p><strong>Atencion al Cliente</strong><br />24/7 a tu disposicíon</p>
      </div>

      <div class="col-xs-6 col-s-3 icon-footer">
        <img
          src="../img/logos-compras-etc/pago-seguro.svg"
          alt="icono de pago seguro"
          height="60"
        />
        <p><strong>Tu pago seguro</strong><br />100% confiable</p>
      </div>
    </div>
    <p>&copy; la scuadra che ami</p>
  </div>
</footer>
