<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-s-3 icon-footer">
        <img
          src="../img/logos-compras-etc/envios-todo-el-pais.svg"
          alt="icono encios gratis"
          height="60"
        />
        <p><strong>envios gratis</strong> <br />por $15 de compra</p>
      </div>

      <div class="col-xs-6 col-s-3 icon-footer">
        <img
          src="../img/logos-compras-etc/devoluciones.svg"
          alt="icono de devoluciones gratis"
          height="60"
        />
        <p><strong>devoluciones gratis</strong> <br />tienes 30 días</p>
      </div>

      <div class="col-xs-6 col-s-3 icon-footer">
        <img
          src="../img/logos-compras-etc/horario-de-atencion.svg"
          alt="icono horario de atencion al cliente"
          height="60"
        />
        <p>
          <strong>Atencion al cliente</strong> <br />
          24/7
        </p>
      </div>

      <div class="col-xs-6 col-s-3 icon-footer">
        <img
          src="../img/logos-compras-etc/pago-seguro.svg"
          alt="icono de devoluciones gratis"
          height="60"
        />
        <p><strong>Pago seguro</strong> <br />100% confiable</p>
      </div>
    </div>
  </div>

  <p>&copy; tus camisetas deportivas</p>
</footer>
