<h1 class="title-products">Camisetas de Futbol</h1>

<div class="row">
  <div class="col-xs-12">
    <form>
      <input
        class="search-input"
        type="search"
        name="search"
        placeholder="busca tu equipo
      favorito..."
      />
    </form>

    <select class="select-order">
      <option>Precio más bajo</option>
      <option>Por países</option>
      <option>Por descuentos</option>
      <option>Por patrocinador</option>
    </select>
  </div>
</div>

<div class="row">
  <a href="#" class="col-m-4 col-s-6 product-box">
    <img
      src="../img/Camisetas-colombia/Atletico-Nacional-removebg-preview.png"
      alt="producto 1"
      width="100%"
    />
    <div class="hidden offer">Oferta</div>
    <h3>Camiseta de Atletico Nacional Local</h3>
    <strong class="price"> <del>$10.00</del> $75.00</strong>
  </a>

  <a href="#" class="col-m-4 col-s-6 product-box">
    <img
      src="../img/Camisetas-colombia/Deportes-Tolima-removebg-preview.png"
      alt="producto 2"
      width="100%"
    />
    <div class="hidden offer">Oferta</div>
    <h3>Camiseta de Tolima Local</h3>
    <strong class="price"><del>$20.00</del> $50.00</strong>
  </a>

  <a href="#" class="col-m-4 col-s-6 product-box">
    <img
      src="../img/Camisetas-italia/AC-Milan-removebg-preview.png"
      alt="producto 3"
      width="100%"
    />
    <div class="hidden offer">Oferta</div>
    <h3>Camiseta de AC Milan Local</h3>
    <strong class="price"> <del>$10.00</del> $105.00</strong>
  </a>

  <a href="#" class="col-m-4 col-s-6 product-box">
    <img
      src="../img/Camisetas-italia/Napoli-removebg-preview.png"
      alt="producto 4"
      width="100%"
    />
    <div class="hidden offer">Oferta</div>
    <h3>Camiseta de Napoli Local</h3>
    <strong class="price"><del>$15.00</del> $90.00</strong>
  </a>

  <a href="#" class="col-m-4 col-s-6 product-box">
    <img
      src="../img/Selecciones/Brasil-removebg-preview.png"
      alt="producto 5"
      width="100%"
    />
    <div class="hidden offer">Oferta</div>
    <h3>Camiseta de Brasil Local</h3>
    <strong class="price"> <del>$00.00</del> $125.00</strong>
  </a>

  <a href="#" class="col-m-4 col-s-6 product-box">
    <img
      src="../img/Selecciones/España-removebg-preview.png"
      alt="producto 6"
      width="100%"
    />
    <div class="hidden offer">Oferta</div>
    <h3>Camiseta de España Local</h3>
    <strong class="price"><del>$8.00</del> $75.00</strong>
  </a>

  <a href="#" class="col-m-4 col-s-6 product-box">
    <img
      src="../img/Camisetas-españa/Real-Madrid-removebg-preview.png"
      alt="producto 7"
      width="100%"
    />
    <div class="hidden offer">Oferta</div>
    <h3>Camiseta de Real Madrid Local</h3>
    <strong class="price"> <del>$25.00</del> $140.00</strong>
  </a>

  <a href="#" class="col-m-4 col-s-6 product-box">
    <img
      src="../img/Camisetas-españa/FC-Barcelona-removebg-preview.png"
      alt="producto 8"
      width="100%"
    />
    <div class="hidden offer">Oferta</div>
    <h3>Camiseta de Barcelona Local</h3>
    <strong class="price"><del>$10.00</del> $135.00</strong>
  </a>

  <a href="#" class="col-m-4 col-s-6 product-box">
    <img
      src="../img/Camisetas-inglaterra/Newcastel-removebg-preview.png"
      alt="producto 10"
      width="100%"
    />
    <div class="hidden offer">Oferta</div>
    <h3>Camiseta de Newcastel Local</h3>
    <strong class="price"><del>$35.00</del> $100.00</strong>
  </a>
</div>

<ul class="pagination">
  <li><a href="#" class="active">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li>...</li>
  <li><a href="#">10</a></li>
</ul>
