<h1 class="title-products">Camisetas de Futbol</h1>

<div class="row">
  <div class="col-xs-12">
    <form>
      <input
        class="search-input"
        type="search"
        name="search"
        placeholder="Tu Equipo Favorito"
      />
    </form>

    <select class="select-order">
      <option>Descuento</option>
      <option>Replica</option>
      <option>Original</option>
      <option>Promociones</option>
    </select>
  </div>
</div>

<div class="row">
  <a href="#" class="col-m-4 col-s-6 product-box">
    <img src="../img/Selecciones/Brasil.jpeg" alt="produto 1" width="100%" />
    <div class="hidden offer">Oferta</div>
    <h3>Camisa de Brasil Local</h3>
    <strong class="price">$60.25</strong>
  </a>

  <a href="#" class="col-m-4 col-s-6 product-box">
    <img src="../img/Selecciones/Argentina.jpg" alt="produto 2" width="100%" />
    <div class="hidden offer">Oferta</div>
    <h3>Camisa de Argentina Local</h3>
    <strong class="price"><del>$20.00</del>$60.25</strong>
  </a>

  <a href="#" class="col-m-4 col-s-6 product-box">
    <img src="../img/Selecciones/España.jpg" alt="produto 3" width="100%" />
    <div class="hidden offer">Oferta</div>
    <h3>Camisa de España Local</h3>
    <strong class="price">$60.25</strong>
  </a>

  <a href="#" class="col-m-4 col-s-6 product-box">
    <img src="../img/Selecciones/Italia.jpg" alt="produto 4" width="100%" />
    <div class="hidden offer">Oferta</div>
    <h3>Camisa de Italia Local</h3>
    <strong class="price"><del>$20.00</del>$60.25</strong>
  </a>

  <a href="#" class="col-m-4 col-s-6 product-box">
    <img
      src="../img/Camisetas-colombia/Atletico-Nacional.jpeg"
      alt="produto 5"
      width="100%"
    />
    <div class="hidden offer">Oferta</div>
    <h3>Camisa de Atletico-Nacional Local</h3>
    <strong class="price">$60.25</strong>
  </a>

  <a href="#" class="col-m-4 col-s-6 product-box">
    <img
      src="../img/Camisetas-colombia/America-de-cali.jpg"
      alt="produto 6"
      width="100%"
    />
    <div class="hidden offer">Oferta</div>
    <h3>Camisa de America-de-cali Local</h3>
    <strong class="price"><del>$20.00</del>$60.25</strong>
  </a>

  <a href="#" class="col-m-4 col-s-6 product-box">
    <img
      src="../img/Camisetas-colombia/Millonarios.jpeg"
      alt="produto 7"
      width="100%"
    />
    <div class="hidden offer">Oferta</div>
    <h3>Camisa de millonarios Local</h3>
    <strong class="price">$60.25</strong>
  </a>

  <a href="#" class="col-m-4 col-s-6 product-box">
    <img
      src="../img/Camisetas-colombia/Deportes-Tolima.jpeg"
      alt="produto 8"
      width="100%"
    />
    <div class="hidden offer">Oferta</div>
    <h3>Camisa de Deportes-Tolima Local</h3>
    <strong class="price"><del>$20.00</del>$60.25</strong>
  </a>

  <a href="#" class="col-m-4 col-s-6 product-box">
    <img
      src="../img/Camisetas-colombia/Medellin.jpg"
      alt="produto 9"
      width="100%"
    />
    <div class="hidden offer">Oferta</div>
    <h3>Camisa de Medellin Local</h3>
    <strong class="price"><del>$20.00</del>$60.25</strong>
  </a>
</div>

<ul class="pagination">
  <li><a href="#" class="active">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li>...</li>
  <li><a href="#">10</a></li>
</ul>
